.amz-feed {
  height: 150px;
  margin: 15px 0;
  position: relative;
  width: 100%;

  ul {
    height: 150px;

    .user {
      display: block;
      padding-bottom: 5px;
    }

    .date {
      font-size: 10px;
    }
  }

  &.hover {
    .rn-carousel-controls {
      .rn-carousel-control {
        opacity: .75;
      }
    }
  }


  .rn-carousel-controls {
    height: 0;
    position: absolute;
    top: 125px;
    left: -37px;
    width: 339px;

    .rn-carousel-control {
      top: -90px;
      opacity: 0;
      transition: opacity 500ms ease-in-out;
      -webkit-transition: opacity 500ms ease-in-out;
    }
  }

  .rn-carousel-control {
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    
    &.rn-carousel-control-next {
      border-radius: 3px 0 0 3px;
      clip: rect(-10px,45px,110px,-10px);
      padding-left: 5px;
      
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 35px;
        left: 15px;
        background-image: url('http://g-ecx.images-amazon.com/images/G/01/AUIClients/AmazonGatewayAuiAssets-gw-2014_sprite-v3-hires-f5773775ef26e1a8b50adde51754067048cb4836._V2_.png');
        background-position: 0 0;
        background-size: 132px 184px;
        height: 22px;
        width: 13px;
      }
    }

    &.rn-carousel-control-prev {
      border-radius: 0 3px 3px 0;
      clip: rect(-10px,55px,110px,0);
      padding-right: 5px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 35px;
        left: 10px;
        background-image: url('http://g-ecx.images-amazon.com/images/G/01/AUIClients/AmazonGatewayAuiAssets-gw-2014_sprite-v3-hires-f5773775ef26e1a8b50adde51754067048cb4836._V2_.png');
        background-position: -14px 0;
        background-size: 132px 184px;
        height: 22px;
        width: 13px;
      }
    }
  }
}